<!DOCTYPE html>
<html lang="en" ng-app="chatApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>



    <style>

    body
{   
    background-image:url("whatsapp4.jpg");
   

}
    .button {
  background-color:brown ; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {border-radius: 12px;}
.button2 {border-radius: 12px;}

      
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    
    

<script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCYYdwjYYs0s36x5Q-DL29VQn2x9Ciy5Eg",
    authDomain: "angularchatapp-7d775.firebaseapp.com",
    databaseURL: "https://angularchatapp-7d775.firebaseio.com",
    projectId: "angularchatapp-7d775",
    storageBucket: "angularchatapp-7d775.appspot.com",
    messagingSenderId: "730535251703"
  };
  firebase.initializeApp(config);
</script>

   
<script src="app2.js"></script>

<script src="login.js"></script>

<script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body ng-controller="ChatController">
    <br>
   
   <button class="button button1" onclick="location.href='reset_password.html'">Password</button>
   <button class="button button2" onclick="logout()">Logout</button>


    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">INSTANT MESSANGING APP :)</div>
            <div class="panel-body">
                <p ng-repeat="m in messages"><strong>{{m.namef}}:</strong>{{m.message}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;{{m.date | date:'medium'}}</p>
                <div class="form-group">

                    <input type="text" class="form-control" placeholder="name..." ng-model="names">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Message here..." ng-model="messageText">
                </div>
                <button type="submit" class="btn btn-default" ng-click="send()">Send</button>
            </div>
        </div>
    </div>
    
</body>
</html>
